version: '3.8'

services:
  uptime-kuma:
    image: louislam/uptime-kuma:1
    container_name: uptime-kuma
    volumes:
      - ./data:/app/data
    ports:
      - "3001:3001"
    restart: unless-stopped
    networks:
      - dokploy-network
    labels:
      - homepage.group=Services
      - homepage.name=Uptime Kuma
      - homepage.icon=uptime-kuma.png
      - homepage.href=https://status.leojan.fr
      - homepage.description=Uptime monitoring & status page

networks:
  dokploy-network:
    external: true
